 .u-section-1 {
  background-image: url("images/WhatsAppImage2022-09-28at11.01.30AM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/WhatsAppImage2022-09-28at11.01.32AM1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 24px 58px 0 29px;
}

.u-section-2 .u-text-2 {
  margin: 166px 494px 0 431px;
}

.u-section-2 .u-text-3 {
  margin: 166px 0 60px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 394px;
    margin-left: 371px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 284px;
    margin-left: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 194px;
    margin-left: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 94px;
    margin-left: 134px;
  }
} .u-section-3 {
  background-image: url("images/3730262_73938.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 144px 80px 0;
}

.u-section-3 .u-list-1 {
  margin: 156px -26px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 374px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-size: cover;
  background-position: 50% 50%;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 3px 30px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 74px 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 52px 0 -13px;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 30px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 74px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 52px 0 -13px;
}

.u-section-3 .u-list-item-3 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 3px 30px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 74px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  line-height: 28.8px;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-10 {
  margin: 52px 0 -13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 731px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
  }
}